{% extends 'base.html' %}
{% block title %}Job Status Page{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
<p><b>Baleen v{{version}}</b></p>
<p>{{counts[0]}} Feeds and {{counts[1]}} Posts after {{counts[2]}} Jobs</p>
<p><b>Latest Job:</b></p>
<p>&nbsp&nbsp&nbsp&nbsp<b>Type:</b>&nbsp{{latest_job.name}} v{{latest_job.version}}</p>
<p>&nbsp&nbsp&nbsp&nbsp<b>Job ID:</b>&nbsp{{latest_job.jobid}}</p>
<p>&nbsp&nbsp&nbsp&nbsp<b>Started:</b>&nbsp{{latest_job.started.strftime('%A %B %d, %Y %I:%M %p')}}</p>
{% if latest_job.finished %}
    {% if latest_job.failed %}
        <p> &nbsp&nbsp&nbsp&nbsp<b>Failed:</b>&nbsp{{latest_job.reason}}
    {% else %}
        <p>&nbsp&nbsp&nbsp&nbsp<b>Finished:</b>&nbsp{{latest_job.finished.strftime('%A %B %d, %Y %I:%M %p')}}</p>
        <p>&nbsp&nbsp&nbsp&nbsp<b>Counts:</b></p>
        {% for key,value in latest_job.counts.iteritems() %}
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{key}}:&nbsp{{value}}</p>
        {% endfor %}
        <p>&nbsp&nbsp&nbsp&nbsp<b>Errors:</b></p>
        {% for key,value in latest_job.errors.iteritems() %}
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{key}}:&nbsp{{value}}</p>
        {% endfor %}
    {% endif %}
{% else %}
    <p style="color:red;">&nbsp&nbsp&nbsp&nbsp<b>Currently Running for&nbsp{{running_time}}</b></p>
{% endif %}
<p></p>
<p><b>Latest Feed:</b></p>
<p>&nbsp&nbsp&nbsp&nbsp<b>Title:</b>&nbsp"{{latest_feed.title}}"</p>
<p>&nbsp&nbsp&nbsp&nbsp<b>eTag:</b>&nbsp"{{latest_feed.etag}}"</p>
<p>&nbsp&nbsp&nbsp&nbsp<b>Modified:</b>&nbsp{{latest_feed.modified}}</p>
<p>&nbsp&nbsp&nbsp&nbsp<b>Updated:</b>&nbsp{{latest_feed.updated.strftime('%A %B %d, %Y %I:%M %p')}}</p>
<p>&nbsp&nbsp&nbsp&nbsp<b>Posts:</b>&nbsp{{latest_feed.count_posts()}}</p>
<p></p>
<p><b>Latest Post:</b></p>
<p>&nbsp&nbsp&nbsp&nbsp<b>Title:</b>&nbsp"{{latest_post.title}}"</p>
<p>&nbsp&nbsp&nbsp&nbsp<b>Feed:</b>&nbsp"{{latest_post.feed.title}}"</p>
<p>&nbsp&nbsp&nbsp&nbsp<b>Fetched:</b>&nbsp{{latest_feed.created.strftime('%A %B %d, %Y %I:%M %p')}}</p>
<p></p>
<p><h2>Logs</h2></p>
{% for item in logitems %}
    <p>{{item}}</p>
{% endfor %}

    </div><!-- column ends -->
  </div><!-- row ends -->
</div><!-- container ends -->
{% endblock %}
