<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <ul class="list-unstyled list-inline">
          <li><a href="http://baleen-ingest.readthedocs.org/en/latest/"><i class="fa fa-book"></i></a></li>
          <li><a href="https://github.com/bbengfort/baleen/"><i class="fa fa-github-square"></i></a></li>
          <li><a href="https://waffle.io/bbengfort/baleen/"><i class="fa fa-trello"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-6">
        <p class="text-right text-muted">
          Created by <a href="https://github.com/bahadasx/">@bahadasx</a>, <a href="https://github.com/lauralorenz/">@lauralorenz</a>, and <a href="https://github.com/bbengfort/">@bbengfort</a>
        </p>
      </div>
    </div>
  </div>
</div>
